.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .outputContainer {

    .libraryOutput {
      display: flex;
      flex-flow: column;
      align-items: center;

      .album {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 350px;

        img {
          width: 100%;
        }
      }

    }

  }
}
