.container {
  display: flex;
  flex-flow: column;
  text-align: center;

  .outputContainer {

    .wishListOutput {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .album {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 30%;
        margin: 10px;
        padding: 20px 0;
        background: #292929;

        .btn-row {
          display: flex;
          flex-flow: column;
          width: 65%;
        }

        h4 {
          margin: 0 0 10px;
        }

        img {
          width: 65%;
          margin: auto 0;
        }
      }

    }

  }
}

@media (max-width: 768px) {
  .wishListOutput {
    display: flex;
    flex-flow: column;
    align-items: center;

    .album {
      width: 100% !important;
    }
  }
}
