.container {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 20px;

  .formContainer {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    form {
      width: 350px;
      display: flex;
      flex-flow: column;
    }
  }

  .outputContainer {

    .searchOutput {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .album {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 20%;
        margin: 10px;
        padding: 20px 0;
        background: #292929;

        .btn-row {
          display: flex;
          flex-flow: column;
          width: 65%;
        }

        h4 {
          margin: 0 0 10px;
        }

        img {
          width: 65%;
          margin: auto 0;
        }

      }
    }
  }
}

@media (max-width: 768px) {
  .searchOutput {
    display: flex;
    flex-flow: column;
    align-items: center;

    .album {
      width: 100% !important;
      margin: 10px 0 !important;

      h4 {
        margin: 0 10px !important;
        text-align: center !important;
      }
    }
  }
}
