.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .formContainer {
    margin-bottom: 5%;
    form {
      display: flex;
      flex-flow: column;
    }
  }

  .outputContainer {
    .searchOutput {
      display: flex;
      flex-flow: column;
    }
  }
}
